// Tabs styles

.bold{
    
}

.commentary{

}

.content-hidden{
    display: none;
}

.content-visible{
    display: block;
}

.steps{

}
.step{

}

.tab-active{
    background-color: #fff;
}

.tabs-container{

}

#tab-1{

}

.tab1-text{

    p{
        
    }
}

#tab-2{

}

.tab2-address{

}

.tab2-info{

}

.tab2-list{

}
